.main {
    background-color: green;
}


.main a {
    color: black;
    

}

.main {
    padding: 300px;
    color: yellow;
    
}

.corn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
}

#picture {
    height: 300px;
    width: auto;
}

.sprouts ul {
    font-size: 20px;
}

.stuffed {
    margin-bottom: 200px;
}